* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.container {
  max-width: 1394px;
  width: 100%;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 100vh;
  background-image: url("./../images/BG.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 768px) {
  .header {
    background-image: url(../../images/BG-tablet.png);
  }
}

.nav {
  height: 90px;
}
.nav__menu {
  display: flex;
  align-items: center;
}
.nav__menu--left {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.nav__ul {
  display: flex;
  align-items: center;
  margin-left: 77px;
  gap: 50px;
}
.nav__ul--item {
  border-bottom: 1px solid transparent;
  transition: 0.3s ease;
}
.nav__ul--item:hover {
  border-color: #5e3928;
}
.nav__ul--link {
  line-height: 96.4%;
  text-align: center;
  color: #ffffff;
  transition: 0.3s ease;
  font-weight: 600;
  font-size: 16px;
}
.nav__ul--link:hover {
  color: #5e3928;
}
.nav__icons {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: flex-end;
  gap: 20px;
  max-width: 200px;
}
.nav__icons--box {
  background-color: #fff;
  height: 85px;
  width: 46px;
  padding: 40px 10px 15px 10px;
}

.nav__input {
  display: none;
}

.nav__open {
  display: none;
}
@media (max-width: 576px) {
  .nav__open {
    display: block;
  }
}

.hero {
  margin-top: 70px;
  position: relative;
}
.hero__title {
  font-family: "Lighthaus";
  font-weight: 400;
  font-size: 100px;
  line-height: 74.9%;
  color: #ffffff;
}
.hero__title2 {
  font-family: "Mont";
  font-weight: 800;
  font-size: 50px;
  line-height: 96.4%;
  color: #ffffff;
  max-width: 533px;
  width: 100%;
  padding-right: 90px;
  margin-top: 50px;
}
.hero__line {
  max-width: 623px;
  width: 100%;
  background-color: #FFFFFF;
  height: 1px;
  margin-top: 50px;
}
.hero__span {
  margin-top: 30px;
}
.hero__span--cost {
  height: 29px;
  font-family: "Mont";
  font-weight: 400;
  font-size: 30px;
  line-height: 96.4%;
  color: #FFFFFF;
}
.hero__span--num {
  height: 29px;
  margin-left: 109px;
  font-family: "Mont";
  font-weight: 800;
  font-size: 30px;
  line-height: 96.4%;
  color: #FFFFFF;
}
.hero__buy {
  margin-top: 41px;
  width: 327px;
  height: 50px;
  background: linear-gradient(92.18deg, #5E3928 20.13%, #E4A16F 92.93%);
  color: #fff;
  font-family: "Mont";
  font-weight: 800;
  font-size: 18px;
  line-height: 96.4%;
  text-align: center;
  border-style: none;
}
.hero__box--wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-top: 71px;
}
.hero__box--wrapper .boxs {
  width: 12px;
  height: 12px;
  background-color: #fff;
  transition: 0.3s ease;
}
.hero__box--wrapper .boxs:hover {
  background: linear-gradient(92.18deg, #5E3928 20.13%, #E4A16F 92.93%);
}
.hero__icon {
  position: absolute;
  left: 750px;
  top: -38px;
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 666px;
  }
  .header {
    height: 1024px;
    background-image: url(./../images/BG-tablet.png);
  }
  .nav__menu {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav__icons {
    top: -64px;
  }
  .hero {
    margin-top: 178px;
  }
  .hero__title1 {
    font-weight: 400;
    font-size: 60px;
    line-height: 114.9%;
  }
  .hero__title2 {
    font-weight: 800;
    font-size: 30px;
    line-height: 128.4%;
    margin-top: 41px;
  }
  .hero__span--cost {
    font-family: "Mont";
    font-weight: 300;
    font-size: 24px;
  }
  .hero__span--num {
    margin-left: 49px;
    font-family: "Mont";
    font-weight: 800;
    font-size: 24px;
  }
  .hero__icon {
    display: none;
  }
  .hero__buy {
    width: 244px;
  }
  .hero__box--wrapper {
    margin-top: 207px;
  }
}
@media screen and (max-width: 576px) {
  .container {
    padding: 0 15px;
  }
  .nav__open {
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
  }
  .nav__ul {
    position: absolute;
    align-items: center;
    width: 100%;
    height: 99vh;
    flex-direction: column;
    background: linear-gradient(92.18deg, #5E3928 20.13%, #E4A16F 92.93%);
    justify-content: center;
    gap: 20px;
    top: 0;
    z-index: 2;
    right: 0;
    transform: translateY(-100%);
    transition: 0.5s ease;
  }
  .nav__ul--link {
    font-family: "Mont";
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 210.9%;
    /* or 63px */
    text-align: center;
    color: #FFFFFF;
  }
  .header {
    height: 729px;
    background-image: url(./../images/BG-mobile.png);
  }
  .nav__icons {
    top: -64px;
    left: 33%;
  }
  .nav__icons .box-1 {
    display: none;
  }
  .hero {
    margin-top: 55px;
  }
  .hero__title {
    font-weight: 400px;
    font-size: 30px;
  }
  .hero__title2 {
    font-weight: 800px;
    font-size: 20px;
  }
  .hero__span--cost {
    font-family: "Mont";
    font-size: 16px;
  }
  .hero__span--num {
    font-family: "Mont";
    font-size: 16px;
  }
  .hero__buy {
    width: 155px;
  }
  .hero__icon {
    display: none;
  }
  input:checked ~ .nav__menu .nav__ul {
    display: flex;
    transform: translateY(0);
  }
  input:checked ~ .nav__menu .nav__icons {
    position: absolute;
    z-index: 4;
    top: 0;
  }
  input:checked ~ .nav__menu .nav__icons .box-1 {
    display: block;
  }
}
.products {
  padding: 80px 0px;
}
.products__title {
  font-family: "Lighthaus";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 74.9%;
  text-align: center;
  color: #031412;
}
.products__grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.products__grid--item {
  position: relative;
}
.products__grid--image {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
}
.products__grid--title {
  font-family: "Mont";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 96.4%;
  text-align: center;
  color: #FFFFFF;
  position: absolute;
  bottom: 20px;
  width: 314px;
}

@media (max-width: 992px) {
  .products__grid--title {
    font-size: 20px;
    width: 203px;
  }
}
@media (max-width: 768px) {
  .products__grid--title {
    font-size: 20px;
    width: 203px;
  }
}
@media (max-width: 576px) {
  .products__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  .products__grid--title {
    font-size: 13px;
    width: 192px;
  }
}/*# sourceMappingURL=main.css.map */