@import '../mixins';
.header {
    width: 100%;
    height: 100vh;
    background: {
        image: url('./../images/BG.jpg');
        position: center;
        repeat: no-repeat;
        size: cover;
    }
    @include for-tablet-only {
        background-image: url(../../images/BG-tablet.png);
    }
}

.nav {
    height: 90px;
    &__menu {
        display: flex;
        align-items: center;
        &--left {
            display: flex;
            width: 100%;
            justify-content: space-between;
        }
    }
    &__ul {
        display: flex;
        align-items: center;
        margin-left: 77px;
        gap: 50px;
        &--item {
            border-bottom: 1px solid transparent;
            transition: 0.3s ease;
            &:hover {
                border-color: #5e3928;
            }
        }
        &--link {
            line-height: 96.4%;
            text-align: center;
            color: #ffffff;
            transition: 0.3s ease;
            &:hover {
                color: #5e3928;
            }
            font: {
                weight: 600;
                size: 16px;
            }
        }
    }
    &__icons {
        display: flex;
        align-items: center;
        position: relative;
        justify-content: flex-end;
        gap: 20px;
        max-width: 200px;
        &--box {
            background-color: #fff;
            height: 85px;
            width: 46px;
            padding: 40px 10px 15px 10px;
        }
    }
}

.nav__input {
    display: none;
}

.nav__open {
    display: none;
    @include for-phone-only {
        display: block;
        // margin-left: 474px;
        // margin-top: -40px;
    }
}

.hero {
    margin-top: 70px;
    position: relative;
    &__title {
        font: {
            family: "Lighthaus";
            weight: 400;
            size: 100px;
        }
        line-height: 74.9%;
        color: #ffffff;
    }
    &__title2 {
        font: {
            family: "Mont";
            weight: 800;
            size: 50px;
        }
        line-height: 96.4%;
        color: #ffffff;
        max-width: 533px;
        width: 100%;
        padding-right: 90px;
        margin-top: 50px;
    }
    &__line {
        max-width: 623px;
        width: 100%;
        background-color: #FFFFFF;
        height: 1px;
        margin-top: 50px;
    }
    &__span {
        margin-top: 30px;
    }
    &__span--cost {
        height: 29px;
        font: {
            family: 'Mont';
            weight: 400;
            size: 30px;
        }
        line-height: 96.4%;
        color: #FFFFFF;
    }
    &__span--num {
        height: 29px;
        margin-left: 109px;
        font: {
            family: 'Mont';
            weight: 800;
            size: 30px;
        }
        line-height: 96.4%;
        color: #FFFFFF;
    }
    &__buy {
        margin-top: 41px;
        width: 327px;
        height: 50px;
        background: linear-gradient(92.18deg, #5E3928 20.13%, #E4A16F 92.93%);
        color: #fff;
        font: {
            family: 'Mont';
            weight: 800;
            size: 18px;
        }
        line-height: 96.4%;
        text-align: center;
        border-style: none;
    }
    &__box--wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        margin-top: 71px;
        .boxs {
            width: 12px;
            height: 12px;
            background-color: #fff;
            transition: 0.3s ease;
            &:hover {
                background: linear-gradient(92.18deg, #5E3928 20.13%, #E4A16F 92.93%);
            }
        }
    }
    &__icon {
        position: absolute;
        left: 750px;
        top: -38px;
    }
}

@media screen and (max-width: 992px) {
    .container {
        max-width: 666px;
    }
    .header {
        height: 1024px;
        background-image: url(./../images/BG-tablet.png);
    }
    .nav__menu {
        flex-direction: column;
        align-items: flex-start;
    }
    .nav__icons {
        top: -64px;
    }
    .hero {
        margin-top: 178px;
        &__title1 {
            font-weight: 400;
            font-size: 60px;
            line-height: 114.9%;
        }
        &__title2 {
            font-weight: 800;
            font-size: 30px;
            line-height: 128.4%;
            margin-top: 41px;
        }
        &__span--cost {
            font: {
                family: 'Mont';
                weight: 300;
                size: 24px;
            }
        }
        &__span--num {
            margin-left: 49px;
            font: {
                family: 'Mont';
                weight: 800;
                size: 24px;
            }
        }
        &__icon {
            display: none;
        }
        &__buy {
            width: 244px;
        }
        &__box--wrapper {
            margin-top: 207px;
        }
    }
}

@media screen and (max-width: 576px) {
    .container {
        padding: 0 15px;
    }
    .nav__open {
        position: absolute;
        z-index: 3;
        top: 0;
        right: 0;
    }
    .nav__ul {
        // display: none;
        position: absolute;
        // display: flex;
        align-items: center;
        width: 100%;
        height: 99vh;
        flex-direction: column;
        background: linear-gradient(92.18deg, #5E3928 20.13%, #E4A16F 92.93%);
        justify-content: center;
        gap: 20px;
        top: 0;
        z-index: 2;
        right: 0;
        transform: translateY(-100%);
        transition: .5s ease;
        &--link {
            font-family: 'Mont';
            font-style: normal;
            font-weight: 500;
            font-size: 30px;
            line-height: 210.9%;
            /* or 63px */
            text-align: center;
            color: #FFFFFF;
        }
    }
    .header {
        height: 729px;
        background-image: url(./../images/BG-mobile.png);
    }
    .nav__icons {
        top: -64px;
        left: 33%;
        .box-1 {
            display: none;
        }
    }
    .hero {
        margin-top: 55px;
        &__title {
            font: {
                weight: 400px;
                size: 30px;
            }
            ;
        }
        &__title2 {
            font: {
                weight: 800px;
                size: 20px;
            }
            ;
        }
        &__span--cost {
            font: {
                family: 'Mont';
                size: 16px;
            }
        }
        &__span--num {
            font: {
                family: 'Mont';
                size: 16px;
            }
        }
        &__buy {
            width: 155px;
        }
        &__icon {
            display: none;
        }
    }
    input:checked~.nav__menu .nav__ul {
        display: flex;
        transform: translateY(0)
    }
    input:checked~.nav__menu .nav__icons {
        position: absolute;
        z-index: 4;
        top: 0;
        .box-1 {
            display: block;
        }
    }
}